body {
  .app-recommendation-wrapper {
    overflow-x: hidden;
    padding: 0 5px;
    .app-recommendation__title {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 10px 0px;
    }
    .app-recommendation-row {
      border-bottom: 1px solid $light_grey;
      padding: 20px 5px 20px 5px;

      .app-recommendation-row__app-item {
        margin: 0 5px;
        width: 85px!important;
        .app-recommendation-row__app-item-image {
          width: 80px;
          height: 80px;
          border-radius: 20px;
          margin-bottom: 10px;
        }
        .app-recommendation-row__app-item-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 14px;
        }
        .app-recommendation-row__app-info-genre {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 12px;
          color: grey;
          margin-top: 5px;
        }
      }
    }
  }
}