body {
  .app-search-wrapper {
    height: 50px;
    background-color: #F5F5F5;
    border-bottom: 1px solid $light_grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .app-search__search-box-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .app-search__search-box {
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 5px;
        margin: 0 10px;
        background-color: #E0E0E0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
      }
      .app-search__placeholder {
        position: absolute;
        color: grey;
        display: flex;
        flex-direction: row;
        align-items: center;
        .search-icon {
          font-size:25px;
          margin-right: 5px;
        }
      }
    }
  }
}