body {
  .app-listing-wrapper {
    .listing-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      .listing-app-row {
        display: flex;
        flex-direction: row;
        height: 65px;
        flex:1;
        align-items: center;
        padding: 8px 10px;
        border-bottom: 1px solid $light_grey;
        .listing-app-row__ranking {
          color: grey;
          font-size: 18px;
          margin-right: 15px;
          width: 25px;
        }
        .listing-app-row__image-wrapper {
          margin-right: 10px;
          .listing-app-row__image {
            width: 60px;
            height: 60px;
          }
        }

        &:nth-child(odd) {
          .listing-app-row__image {
            border-radius: 15px;
          }
        }

        &:nth-child(even) {
          .listing-app-row__image {
            border-radius: 30px;
          }
        }

        .listing-app-row__app-info {
          display: flex;
          flex-direction: column;
          height: 80%;
          justify-content: space-between;
          font-size: 14px;
          margin: 5px 0;
          .listing-app-row__app-info-genre {
            font-size: 12px;
            color: grey;
          }
        }
        .listing-app-row__app-info-rating {
          display: flex;
          flex-direction: row;
          align-items: center;
          .star {
            width: 10px;
            height: 10px;
            padding: 0 2px;
          }
          .listing-app-row__app-info-rating-count {
            margin-left: 5px;
            font-size: 12px;
            color: grey;
          }
        }
      }
    }
  }
}